html {
    height: 100%;
    position: relative;
}
body {
    align-items: center;
    background-color: #FFFFFF;
    color: $colorweb;
    display: flex;
    flex-direction: column;
    font: normal 14px/1.4 $opensans;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    top:0!important;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    > * {
        flex-grow: 0;
        flex-shrink: 0;
        transition: transform .32s ease;
        width: 100%;
    }
    .wrap{
        flex: 1;
    }
}
/*Basic Tags*/
font{
    vertical-align: initial!important;
}
h1,h2{
    text-transform: uppercase;
}
h1{
    font-size: 1rem;
    font-weight: 600;
}
h2{
    font-size: .8rem;
    font-weight: 700;
}
img[data-src]{
    opacity: 0;
    transition: all .2s ease;
}
img[src]{
    opacity: 1;
}
input,textarea{
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 2rem;
    display: inline-block;
    font-size: .85rem;
    height: 38px;
    line-height: 1.42857143;
    padding: 10px 16px;
    transition: all .3s ease;
    vertical-align: middle;
    white-space: nowrap;
}
textarea{
    height: 50px;
    resize: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    margin: 0; 
    -webkit-appearance: none;
}
input:disabled, textarea:disabled, .disabled{
    background-color: #efefef !important;
    cursor: no-drop!important;
}
input:focus,textarea:focus {
    background: #f5f5f5a8;
    border: 1px solid #7b7a7a;
}
select.ui-datepicker-year {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 2px 15px;
    -webkit-appearance: menulist;
}
/* FLEXBOX */
.f{
    display: flex;
}
.f-ac{
    align-items: center;
}
.f-afs{
    align-items: flex-start;
}
.f-dc{
    flex-direction: column;
}
.f-fs{
    justify-content: flex-start;
}
.f-jc{
    justify-content: center;
}
.f-jcsa{
    justify-content: space-around;
}
.f-jcsb{
    justify-content: space-between;
}
.f-wn{
    flex-wrap: nowrap;
}
.f-ww{
    flex-wrap: wrap;
}
/* UTILS */
.alert{
    font-size: 12px;
    margin: .25rem 0 .5rem;
    padding: 6px;
    text-align: center;
    width: 100%;
    &.alert-danger{
        background-color: #fbe6e7;
        border: 1px solid #d5323b;
        border-radius: .75rem;
        color: #d5323b;
    }
    &.alert-success{
        background-color: #70b58030;
        border: 1px solid #70b580;
        border-radius: .75rem;
        color: #70b580 !important;
    }
} 
.alertFondo{
    background: #000000ba;
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    .alertMsg{
        border-radius: .75rem;
        display: block;
        font-size: .75rem;
        height: auto;
        left: 0;
        margin: auto;
        max-width: 480px;
        padding: .5rem 1rem;
        padding-bottom: 30px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 25%;
        width: 100%;
        p{
            font-size: 15px;
            margin-bottom: 15px;
            a{
                cursor: pointer;
                text-decoration: underline;
                text-transform: uppercase;
            }
        }
        .btn{
            width:auto;
        }
        .header{
            font-size: 50px;
            &:before{
                font-family: 'icomoon';
                font-style: normal;
                text-transform: none;
                font-variant: normal;
                font-weight: normal;
                line-height: 1;
                speak: none;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
            }
        }
        &.error{
            background-color: #fbe6e7;
            border: 1px solid #d5323b;
            color: #d5323b !important;
            p{
                color: #d5323b !important;
            }
            .btn{
                background-color: #d5323b;
                color:#fff
            }
            .header:before{
                content: "\e911";
            }
        }
        &.info{
            background-color: #fbdbbb;
            border: 1px solid #fe9126;
            color: #fe9126 !important;
            p{
                color: #fe9126 !important;
            }
            .btn{
                background-color: #fe9126;
                color:#fff
            }
            .header:before{
                content: "\e920";
            }
        }
        &.ok{
            background-color: #effff3;
            border: 1px solid #70b580;
            color: #70b580 !important;
            p{
                color: #70b580 !important;
            }
            .btn{
                background-color: #70b580;
                color:#fff
            }
            .header:before{
                content: "\e920";
            }
        }
    }
}
.b-l{
    border-bottom: 1px solid #eaeaea;
    margin: 1rem 0;
    padding-bottom: .5rem;
    width: 100%;
}
.bannerPop{
    background: #0000008a;
    display:none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    .Box{
        background: #fff;
        left: 0;
        margin: auto;
        max-width: 600px;
        position: absolute;
        right: 0;
        top: 30%;
        width: 90%;
        img{
            width:100%;
        }
        ._cerrar{
            align-items: center;
            border: 1px solid #9a9a9a;
            border-radius: 26%;
            cursor: pointer;
            display: flex;
            font-size: 15px;
            height: 30px;
            justify-content: center;
            padding-bottom: 3px;
            position: absolute;
            right: 5px;
            top: 5px;
            width: 30px;
        }
    }
}
.bg-g{
    background-color: #c5c5c5;
}
.bg-r{
   background-color: $colorred;
   color: #FFFFFF; 
}
.bg-w{
    background-color: #FFF;
    border: 1px solid #ccc !important;
}
.bloc-c{
    margin: 0 auto;
}
.box-account{
    margin:auto;
    width:100%;
}
.btn{
    border: none;
    border-radius: 4rem;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
    cursor: pointer;
    display: inline-block;
    font-size: .75rem;
    font-weight: 600;
    height:35px;
    line-height: 1.42857143;
    min-height: 38px;
    padding: .75rem 1.25rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform: none;
    transition: all .3s ease;
    vertical-align: middle;
    white-space: nowrap;
    &:active{
        transform: scale(0.96);
    }
    &:hover{
        box-shadow: 0 0.5rem 0.975rem 0 rgba(0,0,0,0.25);
    }
}
.btn-s{
    align-items: center;
    color: #FFF;
    display: flex;
    justify-content: center;
    margin: .45rem auto;
    text-transform: initial;
    &:before{
        font-size: 18px;
        margin-right: 4px;
    } 
    &.icon-facebook{
        background-color: #5577b5;
    }
    &.icon-google{
        background-color: #ffffff;
        color:#000000;
    }
}
.c-center{
    >*{
        margin: 1rem auto !important;
    }
}
.c-full{
    margin: 0 !important;
    width: 100% !important;
}
.c-i{
    width: 100%;
    input[type="checkbox"]{
        display: none;
    }
    label{
        font-size: .75rem;  
        &.icon-checkbox{
            align-items: baseline;
            cursor: pointer;
            display: flex;
            position: relative;
            a{
                color: $colorred;
                line-height: 1.2;
            }
            &:before{
                color: #888888;
                font-size: .94rem;
                margin-right: .25rem;
            }
        }
    }
    input[type="checkbox"]:checked+label::before{
        content: "\ea52";
    }
}
.cart-grid{
    margin: auto;
    max-width: 1170px;
}
.check-data{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    width:100%;
    .check-box{
        align-items: center;
        display: flex;
        width: 111px;
        label{
            font-size: 12px;
            margin: 0;
            margin-left: 10px;
            order: 2;
            width: 50px;
        }
        .control__indicator{
            background: #e6e6e6;
            border-radius: 50%;
            cursor: pointer;
            height: 20px;
            position: relative;
            width: 20px;
            &:after{
                background: $colorred;
                border-radius: 50%;
                content: '';
                display: none;
                height: 10px;
                left: 5px;
                position: absolute;
                top: 5px;
                width: 10px;
            }
            &:hover{
                background:#ccc
            }
        }
        &.active{
            .control__indicator{
                &:after{
                    display:block;
                }
            }
        }
    }
}
.dataTables_paginate,.navigation{
    margin: 0 auto 2rem auto;
    a,.paginate_button{
        background-color: #FFF;
        border: 1px solid #dee2e6;
        margin-left: -1px;
        padding: .5rem .75rem;
        transition: all .2s ease;
    }
    li{
        &.active{
            a{
                background-color: $colorred;
                border-color: $colorred;
                color: #FFF;
            }
        }
        &.disabled{
            position: relative;
            a{
                background-color: #f9f9f9;
                color: #666;
            }
            &:after{
                background-color: transparent;
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }
            &:hover{
                a{
                    background-color: #f9f9f9;
                    color: #666;
                }
            }
        }
        &:first-child{
            a{
                border-bottom-left-radius: .25rem;
                border-top-left-radius: .25rem;
                
            }
        }
        &:hover{
            a{
                background-color: #eaeaea;
            }
        }
        &:last-child{
            a{
                border-bottom-right-radius: .25rem;
                border-top-right-radius: .25rem;
            }
        }
    }
    .disabled{
        background-color: #f9f9f9;
        color: #666;
    }
    .current{
        background-color: $colorred;
        border-color: $colorred;
        color: #FFF;
    }
    .next{
        border-bottom-right-radius: .25rem;
        border-top-right-radius: .25rem;
    }
    .previous{
        border-bottom-left-radius: .25rem;
        border-top-left-radius: .25rem;
    }
}
.fix,.fixed{
    height: 90vh;
    overflow: hidden;
    body{
        height: 90vh;
        min-height: 90vh;
    }
}
.form-error{
    input,textarea{
        border:1px solid $colorred;
    }
    .form-msg{
        color:$colorred;
        display:block;
        font-size: 12px;
        padding-left: 10px;
    }
    .select2{
        border:1px solid $colorred;
    }
}
.form-msg{
    display:none
}
.frm-access{
    input{
        background-color: #ddf9e1;
        color: #35b33f;
    }
}
.frm-error{
    input{
        background-color: #fff1f2;
        color: $colorred;
    }
}
.gwr {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    width: 96%;
}
.hidden-txt{
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 0;
}
.list-social{
    li{
        align-items: center;
        color: #6A6C6F;
        display: flex;
        height: 35px;
        justify-content: center;
        margin-right: .25rem;
        position: relative;
        transition: all .3s ease;
        width: 35px;
        a{
            font-size: 0;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
        &:before{
            font-size: 1.25rem;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    .icon-facebook:hover{
        color:#4267b1;
    }
    .icon-twitter:hover{
        color:#30a1f3;
    }
    .icon-google-plus:hover{
        color:#dc4e41;
    }
    .icon-pinterest:hover{
        color: #ea1522;
    }
    .icon-instagram:hover{
        color: black;
    }
    .fontsocial-whatsapp:hover{
        color: #3fd365;
    }
}
.loading {
    &:before {
        animation: spinner .8s ease infinite;
        border: 2px solid transparent;
        border-bottom-color: #07d;
        border-radius: 50%;
        border-top-color: #07d;
        box-sizing: border-box;
        content: '';
        height: 40px;
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 40px;
    }
}
.menu-cuenta{
    font-size: .75rem;
    margin-bottom: 1.25rem;
    width: 100%;
    li{
        border: 1px solid #eaeaea;
        margin-bottom: -1px;
        a{
            padding: 1rem;
            display: block;
            background-color: #fff;
            transition: all .2s ease;
            line-height: 1.2;
            padding-left: 3rem;
            position: relative;
            
            &:before{
                position: absolute;
                left: 1rem;
                font-size: 1.25rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &.active, &:hover{
            a{
                background-color: $colorred;
                color:#FFF; 
            }
        }
        &:active{
            a{
                transform: scale(0.98);
            }
        }
    }
}
.modal{
    font{
        a.btn-s{
            display:none;
        }
    }    
}
.move-right{
    transform: translate3d(250px,0,0);
}
.msg{
    border-radius: 2rem;
    display: inline-block;
    font-weight: 600;
    padding: 8px 12px;
    text-align: center;
    vertical-align: baseline;
    white-space: pre-wrap;
    &.alert{
        background-color: #dc143c3d;
        border: 1px solid #DC143C;
        color: #DC143C;
    }
    &.confirm{
        background-color: #8dd98d2e;
        border: 1px solid #8DD98D;
        color: #8DD98D;
    }
    &.empty{
        background-color: #fe912630;
        border: 1px solid #fe9126;
        border-radius: 20px;
        color: #fe9126 !important;
    }
    &.error{
        background-color: #8f062138;
        border: 1px solid #8f0621;
        color: #8f0621;
    }
    &.neutro{
        border: 1px solid #4169E1;
        color: #4169E1;
    }
    
}
.msg-accepted{
    align-items: center;
    background-color: #70b58030;
    border: 1px solid #70b580;
    border-radius: .75rem;
    color: #70b580 !important;
    display: flex;
    font-size: 12px;
    margin: .25rem 0 .5rem;
    padding: 6px;
    text-align: center;
    width: 100%;
    &:before{
        font-size: 16px;
        margin-right: .75rem;
        text-align: center;
        width: 20px;
    }
}
.msg-empty{
    background-color: #fe912630;
    border: 1px solid #fe9126;
    border-radius: .75rem;
    color: #fe9126 !important;
    display: block;
    font-size: .75rem;
    margin: .25rem auto !important;
    max-width: 480px;
    padding: .5rem 1rem;
    text-align: center;
    width: 100%;
    &:before{
        display: block;
        font-size: 3rem;
        margin-bottom: .75rem;
        text-align: center;
        width: 100%;
    }
}
.msg-error{
    background-color: #fbe6e7;
    border: 1px solid #d5323b;
    border-radius: .75rem;
    color: #d5323b;
    font-size: .75rem;
    padding: .5rem 1rem;
    ol{
        padding-left: 1rem;
        li{
            list-style-type: decimal;
            margin-bottom: .25rem;
            &:first-child{
                margin-bottom: 0;
            }
        }
    }
    p{
        font-weight: 600;
    }
}
.mtb{
    margin:1rem auto;
    text-align:center;
}
.none{
    display:none!important;
}
.page-header{
    h1{
        margin:20px auto;
        width:90%;
    }
}
.page-not-found{
    display: flex;
    height: 118px;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    form.w{
        bottom: 44px;
        position: absolute;
        .icon-search button.icon-close{
            display:none;
        }
        .icon-search{
            background: none;
            border: none;
            opacity:1;
            visibility: unset;
        }
    }
    h4{
        height: 25px;
        position: absolute;
        top: 0;
    }
    p{
        height: 25px;
        position: absolute;
        top: 20px;
    }
    
}
.pr-l{
    flex-grow: 1;
    font-size: .75rem;
    margin: 2rem auto;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    &:after, &:before{
        content: '';
        flex-grow: 1;
        width: 5%;
        height: 1px;
        background-color: #ccc;
    }
    &:after{
        margin-left: .75rem;
    }
    &:before{
        margin-right: .75rem;
    }
}
.sb{
    margin-bottom: auto;
    margin-top: 0;
}
.sb-l{
    margin-bottom: 1rem;
    position: relative;
    &:after{
        background-color: $colorred;
        content: '';
        display: block;
        height: 2px;
        margin-top: .25rem;
        width: 38px;
    }
}
.select2-search__field{
    box-shadow:none!important;
}
.skiptranslate{
    display:none;
}
.sub-filters{
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 1.5rem;
    .f.f-ac{
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 13px;
        width: 55%;
        .btn{
            width: 100%;
        }
        >span{
            margin-bottom:10px;
        }
    }
    .frm-filter{
        order: 1;
    }
}
.txt-c{
    text-align: center;
}
.txt-r{
    color: $colorred;
}
.w-account{
    font-size: .8rem;
    width: 100%;
    li{
        margin-bottom: .75rem;
        margin-right: auto;
        width: calc(50% - .5rem);
        a{
            align-items: center;
            background-color:#f7f7f7;
            border-radius: .75rem;
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.2;
            overflow: hidden;
            text-align: center;
            transition: all .3s ease;
            &:before, span{
                align-items: center;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                min-height: 46px;
                padding: .5rem 0;
                width: 100%;
            }
            &:before{
                border-bottom: 1px solid #eaeaea;
                font-size: 2.25rem;
                height: 40px;
                width: 100%;
            }
        }
        &.active, &:hover{
            a{
                span{
                    background-color: $colorred;
                    color: #FFF;
                }
                &:before{
                    color: $colorred;
                    font-weight: 400;
                }
                
            }
        }
        &:nth-child(2n){
            margin-right: 0;
        }
        
    }
}
.w-color{
    border-bottom: 1px solid #eaeaea;
    display: flex;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    position: relative;
    z-index: 2;
    li{
        align-items: center;
        border: 1px solid #eaeaea;
        border-radius: 5rem;
        display: flex;
        height: 24px;
        justify-content: center;
        margin-bottom: 0 !important;
        margin-right: .25rem;
        padding: 1px !important;
        transition: all .3s ease;
        width: 24px !important;
        &:active{
            transform: scale(0.65);
        }
        &.selected{
            background-color: #ccc;
            border-color: #4d4d4b;
        }
    }
    .p-color{
        background-position: center;
        background-size: cover;
        border-radius: 5rem;
        cursor: pointer;
        display: block;
        height: 20px;
        margin: auto;
        width: 20px;
    }
}
#back-to-top {
    background-color: #000;
    border: 0;
    border-radius: 2px;
    bottom: 40px;
    color: #ccc;
    cursor: pointer;
    font-size: 2em;
    height: 50px;
    line-height: 55px;
    opacity: 0;
    position: fixed;
    right: 40px;
    text-align: center;
    text-decoration: none;
    transform: none;
    transition: opacity 0.2s ease-out;
    width: 50px;
    z-index: 9999;
    span{
        display: none;
    }
    &.show{
        opacity: 1;
    }
    &:active{
        transform: scale(.96);
    }
    &:hover{
        background-color: #070707;
    }
}
#products{
    display: flex;
}
@media (max-width: 600px) {
    input, select, textarea{
        font-size: 16px !important;
    }
    input:focus, select:focus, textarea:focus{
        background: #eee;
        font-size: 16px;
    }
}
@media screen and (min-width: 769px){
    .box-account{
        margin: unset;
        padding-top: 1rem;
        width: 180px;
    }
    .fix{
        overflow: initial;
    }
    .menu-cuenta{
        display: block !important;
        font-size: .8rem;
        margin-right: 3rem;
        width: 220px;
    }
    .move-right{
        transform: none;
    }
    .msg-accepted{
        font-size: 16px;
        padding: .5rem 1rem;
    }
    .navigation {
        margin: 2rem 0 2rem auto;
    }
    .page-header{
        h1{
            margin:0px auto;
            max-width: 1170px;
        }
    }
    .page-not-found{
        form.w{
            bottom: 20px;
            .icon-search{
                margin: auto;
                opacity: 1;
            }
        }
    }
    .pr-l{
        font-size: 1.25rem;
    }
    .sub-filters{
        .f.f-ac{
            align-items: baseline;
            flex-direction: row;
            width: 40%;
            >span{
                margin-right: 20px;
                width: 56%;
            }
            .btn{
                width:inherit;
            }
        }
    }
    .w-account{
        li{
            width: calc(16.666% - .5rem);
            &:last-child{
                margin-right: 0;
            }
            &:nth-child(2n){
                margin-right: auto;
            }
        }
    }
}
@media screen and (min-width: 769px){
    .bannerPop{
        .Box{
            ._cerrar{
                height: 24px;
                position: absolute;
                right: 5px;
                top: 5px;
                width: 24px;
            }
        }
    } 
}