.btn-top {
    background-color: $colorred;
    border-radius: 10rem;
    bottom: 1rem;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #ffffff;
    cursor: pointer;
    display: none;
    font-size: 0;
    height: 40px;
    left: 1rem;
    position: fixed;
    text-align: center;
    width: 40px;
    z-index: 2;
    &:before {
        font-size: 28px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
