body.checkout {
    .alertFondo {
        z-index: 25;
    }
    #header {
        border-bottom: 1px solid #ccc;
        height: 56px;
        .content {
            display: flex;
            height: 100%;
            margin: auto;
            margin: 0;
            max-width: 1170px;
            overflow: hidden;
            padding: 0;
            width: 100%;
            .bloc-c {
                align-items: center;
                display: flex;
                font-size: 0px;
                height: 100%;
                justify-content: end;
                margin-left: 0;
                margin-right: auto;
                width: 300px;
                width: auto;
                a {
                    display: block;
                    height: 70%;
                    max-height: 55px;
                    img {
                        display: block;
                        height: 100%;
                        margin: 0;
                        margin-left: 10px;
                        max-width: 300px;
                        padding: 0;
                        position: relative;
                        top: 0px;
                        width: auto;
                    }
                }
            }
            .img_secure {
                align-items: center;
                display: flex;
                height: 100%;
                margin-right: 0px;
                img {
                    display: block;
                    height: 26px;
                    margin: 0;
                    padding: 0;
                    width: auto;
                }
                span {
                    font-weight: 600;
                    line-height: 12px;
                    margin-left: 2px;
                    width: 105px;
                }
            }
        }
        &.header-sticky {
            .bloc-c {
                img {
                    max-width: 200px !important;
                }
            }
        }
    }
}
select.ui-datepicker-year {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 2px 15px;
    -webkit-appearance: menulist;
}
._user {
    display: none;
}
.b-right {
    display: flex;
    justify-content: flex-end;
}
.b-sides {
    display: flex;
    justify-content: space-between;
}
.bloque_tipo {
    width: 100%;
    .fila {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 10px auto;
        padding: 0 10px;
        width: 100%;
        .box {
            align-items: center;
            border-radius: 10px;
            box-shadow: 0px 0px 2px 0px #aba6a6;
            cursor: pointer;
            display: flex;
            flex-grow: initial;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            margin-bottom: 10px;
            padding: 10px;
            width: 100%;
            p {
                font-size: 12px;
                font-weight: 700;
                margin: 0;
                text-align: center;
                width: 100%;
            }
            .circle {
                border: 3px solid #9a9a9a;
                border-radius: 50%;
                height: 12px;
                width: 12px;
            }
            .img {
                align-items: center;
                display: flex;
                height: 50px;
                justify-content: center;
                width: 50px;
                img {
                    margin: auto;
                    width: 66%;
                }
            }
            &.active {
                .circle {
                    border-color: red;
                }
            }
            &:hover,
            &.hover {
                box-shadow: 0px 0px 5px 0px #aba6a6;
            }
            &.box_ship_receiver {
                width: 48%;
            }
        }
    }
    .subTitle {
        width: 100%;
    }
}
.checkout-data {
    margin: auto;
    padding-bottom: 20px;
    width: 90%;
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    h2 {
        padding: 0 0.5rem;
        width: 100%;
    }
    input {
        width: 100%;
    }
    label {
        display: block;
        font-size: 0.83rem;
        margin-bottom: 0.2rem;
        width: 100%;
    }
    p {
        margin-bottom: 10px;
        padding: 0 0.5rem;
        a {
            color: $colorred;
            cursor: pointer;
            font-weight: 600;
        }
    }
    textarea {
        width: 100%;
    }
    .b_complementos {
        border: 1px solid #eaeaea;
        border-radius: 0.5rem;
        margin: auto 0.5rem;
        margin-bottom: 1rem;
        max-height: 600px;
        overflow: auto;
        width: 100%;
        h3.title {
            font-size: 14px;
            padding: 8px 12px;
            text-align: center;
        }
        .c_box {
            display: unset !important;
            .list-products.carousel-products {
                height: auto;
                margin: auto;
                max-width: 270px;
                width: 100%;
            }
        }
    }
    .b_payments {
        width: 100%;
    }
    .box {
        margin: auto 0.5rem;
        margin-bottom: 1rem;
        width: 100%;
    }
    .box_invoice {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .box2 {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        width: 100%;
        &.b_msg {
            textarea {
                border-radius: 10px;
                height: 100px;
            }
        }
    }
    .btn {
        margin-top: 1.5rem;
        max-width: 140px;
        padding: 0.75rem 0;
        width: 50%;
    }
    .c-emoticon {
        margin-right: 7px;
        &:before {
            color: #ea1522;
            content: "\e920";
            font-family: "icomoon";
            font-size: 0.9rem !important;
            font-style: normal;
            font-variant: normal;
            font-weight: 700;
            font-weight: normal;
            line-height: 1;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    .c-i {
        padding: 0 0.5rem;
    }
    .card-save {
        width: 100%;
        .box2 {
            display: flex;
            .card {
                border: 1px solid #eaeaea;
                border-radius: 6px;
                cursor: pointer;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 10px;
                margin-left: 10px;
                max-width: 100px;
                padding: 10px 15px;
                position: relative;
                transition: all 0.3s;
                width: 28%;
                img {
                    height: 53px;
                    width: 53px;
                }
                span {
                    display: block;
                    font-size: 13px;
                    font-weight: 700;
                    text-align: center;
                    width: 100%;
                }
                &:hover {
                    border: 1px solid #ccc;
                }
                &.active:after {
                    @include icon();
                    color: #33cc99;
                    content: "\e90c";
                    display: block;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: normal;
                    line-height: 1;
                    position: absolute;
                    right: -8px;
                    speak: none;
                    text-transform: none;
                    top: -8px;
                    transition: all 0.3s ease;
                }
            }
        }
    }
    .list-products .owl-nav .owl-prev,
    .list-products .owl-nav .owl-next {
        top: 40%;
    }
    .list-payment {
        display: flex;
        flex-wrap: wrap;
        li {
            max-width: 120px;
            position: relative;
            width: 30%;
            a {
                align-items: center;
                border: 1px solid #eaeaea;
                display: block;
                display: flex;
                border-radius: 4px;
                justify-content: center;
                margin: 0 auto 1rem auto;
                min-height: 90px;
                padding: 5px 15px;
                position: relative;
                width: 90%;
                img {
                    bottom: 0px;
                    left: 0px;
                    margin: auto;
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 100%;
                }
                span {
                    align-items: center;
                    background-color: rgba(255, 255, 255, 0.68);
                    border: 1px solid rgb(204, 204, 204);
                    display: flex;
                    font-size: 0.68rem;
                    font-weight: 700;
                    height: 100%;
                    justify-content: center;
                    left: 50%;
                    opacity: 0;
                    padding: 1rem 1rem;
                    position: absolute;
                    text-align: center;
                    text-transform: uppercase;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s ease;
                    visibility: hidden;
                    width: 100%;
                }
                &:hover {
                    span {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &:after {
                @include icon();
                content: "\e90c";
                background-color: #fff;
                color: #33cc99;
                display: block;
                font-size: 1.5rem;
                opacity: 0;
                position: absolute;
                right: 0;
                top: -6%;
                transform: scale(0);
                transition: all 0.3s ease;
                visibility: hidden;
            }
            &.active {
                &:after {
                    opacity: 1;
                    transform: scale(1);
                    visibility: visible;
                }
            }
            &.card_large {
                a {
                    width: 150%;
                }
            }
        }
    }
    .listProductsGeneral {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 100%;
        }
    }
    .message-css {
        margin-bottom: 18px;
    }
    .new_card {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .p-emoticon {
        color: #5d5d5d;
        font-size: 0.75rem;
        margin-top: 8px;
        padding: 0;
    }
    .select2 {
        margin-bottom: 0px;
    }
}
.head-tab {
    margin-bottom: 1rem;
    a {
        align-items: center;
        border-bottom: 1px solid #eaeaea;
        border-right: 1px solid #eaeaea;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 45px;
        transition: all 0.3s ease;
        span {
            line-height: 1.2;
            width: 70%;
            &.t-n {
                background-color: #d0d0d0;
                border: 2px solid #c1c1c1;
                border-radius: 20px;
                color: #ffffff;
                font-size: 0.8rem;
                height: 22px;
                line-height: 18px;
                margin-bottom: 0.25rem;
                width: 22px;
            }
        }
        .img {
            border: 1px solid #999;
            border-radius: 50%;
            height: 30px;
            margin-right: 8px;
            padding: 5px;
            width: 30px !important;
            svg {
                height: 100%;
                width: 100%;
                path {
                    fill: #999;
                }
            }
        }
        &:before {
            font-size: 26px;
        }
        &.head-active {
            border-bottom: 2px solid $colorred;
            span {
                color: $colorred;
                &.t-n {
                    background-color: #ffffff;
                    border-color: $colorred;
                }
            }
            &:before {
                color: $colorred;
            }
        }
    }
    li {
        color: #999999;
        font-size: 0.75rem;
        font-weight: 700;
        text-transform: uppercase;
        width: 25%;
        &[disabled] {
            cursor: no-drop;
            position: relative;
            &:after {
                background: transparent;
                bottom: 0;
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }
        }
        &:nth-child(4) {
            a {
                border-right: 0;
            }
        }
    }
}
.keep {
    align-items: center;
    display: flex;
    height: 100%;
    width: 90px;
    width: 40px;
    width: 200px;
    width: 165px;
    .box {
        align-items: center;
        display: flex;
        height: 40px;
        img {
            margin-right: 6px;
            width: 24px;
        }
        span {
            display: none;
            display: block;
            font-size: 13px;
            font-weight: 600;
            width: 150px;
        }
    }
}
.logged {
    ._user {
        display: block;
        height: 100%;
        margin: 0;
        margin-right: 15px;
        position: relative;
        width: 26px;
        .icon-user {
            bottom: 0;
            font-size: 0px;
            height: 26px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0px;
            width: 100%;
            &:before {
                font-size: 26px;
                margin-right: 7px;
            }
        }
    }
}
.n-bottom {
    margin-bottom: 0px !important;
}
.none {
    display: none !important;
}
.overflowhidden {
    height: 100%;
    overflow: hidden;
    position: fixed;
}
.p-lr {
    padding: 0 0.5rem;
}
.s li .s-subtotal ~ p {
    margin-left: auto;
}
.selectTienda {
    background: #00000080;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 22;
    .bloque {
        background: #fff;
        border-radius: 18px;
        bottom: 0;
        left: 0;
        margin: auto;
        max-width: 900px;
        overflow: auto;
        padding-bottom: 17px;
        position: relative;
        right: 0;
        top: 1%;
        width: 98%;
        width: 336px;
        > h3 {
            background: #f1f1f1;
            font-weight: 600;
            padding: 30px 0 0 0;
            text-align: center;
            width: 100%;
        }
        p.title {
            color: #111;
            font-size: 16px;
            font-weight: 700;
            margin: auto;
            text-align: center;
            text-transform: none;
            width: 80%;
        }
        .closeModalPK {
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 50%;
            color: #5d5d5d;
            cursor: pointer;
            display: flex;
            font-size: 20px;
            font-weight: 900;
            height: 30px;
            justify-content: center;
            position: absolute;
            right: 15px;
            top: 15px;
            width: 30px;
            &:hover {
                color: #000;
            }
        }
        .filtro {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            padding-top: 8px;
            width: 90%;
            .box1 {
                height: 70px;
                width: 90%;
                select,
                input {
                    width: 100%;
                }
                p {
                    height: 19px;
                    margin-bottom: 5px;
                    width: 100%;
                }
                .btn {
                    margin: 0;
                    width: 126px;
                }
                &.box_search {
                    height: 55px;
                    padding-top: 8px;
                    width: 90%;
                    p {
                        display: none;
                    }
                    .btn {
                        max-width: none;
                        width: 100%;
                    }
                }
            }
        }
        .header {
            align-items: center;
            color: #000;
            display: flex;
            height: 80px;
            margin-top: 29px;
            padding: 0 25px;
            width: 100%;
            .box {
                margin: 0;
                width: 80%;
                h2 {
                    align-items: center;
                    display: flex;
                    font-size: 18px;
                    justify-content: center;
                    letter-spacing: 4px;
                    text-align: center;
                    img {
                        margin-right: 11px;
                        width: 32px;
                    }
                }
                h3 {
                    color: #868686;
                    font-size: 16px;
                    font-weight: 400;
                    margin-top: 7px;
                    text-align: center;
                }
            }
        }
        .tabla {
            display: flex;
            flex-wrap: wrap;
            height: auto;
            margin: auto;
            margin: 20px auto 0;
            max-height: 450px;
            overflow: auto;
            overflow: hidden;
            width: 90%;
            .bloque1 {
                overflow: auto;
                padding-right: 4px;
                width: 100%;
                .box {
                    background: #f7f7f7;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    cursor: pointer;
                    display: flex;
                    margin: 0;
                    margin-bottom: 7px;
                    min-height: 60px;
                    width: 100%;
                    &:hover,
                    &.active {
                        background: #eaeaea;
                        border: 1px solid $colorred;
                    }
                    .img {
                        padding: 7px;
                        width: 80px;
                        img {
                            width: 100%;
                        }
                    }
                    .text {
                        width: 100%;
                        h4 {
                            font-size: 16px;
                            padding: 5px 5px 0 5px;
                        }
                        p {
                            font-size: 12px;
                            margin: 0;
                            padding: 5px;
                        }
                    }
                }
                &.borde {
                    border: 1px solid #eaeaea;
                }
                &::-webkit-scrollbar {
                    height: 0px;
                    width: 8px;
                }
                &::-webkit-scrollbar-thumb {
                    background: #cccccc;
                    border: 0px none;
                    border-radius: 50px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: $colorred;
                }
                &::-webkit-scrollbar-track {
                    background: #efefef;
                    border: none;
                }
            }
            .bloque2 {
                display: none;
                width: 50%;
                .map {
                    height: 100%;
                    padding-left: 20px;
                    width: 100%;
                    iframe {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        .fila_btn {
            margin: 20px auto 0;
            width: 90%;
            .btn {
                display: block;
                margin: 10px 0 0 auto;
                max-width: none;
                width: 200px;
            }
        }
    }
    .btn {
        padding: 11px 0;
    }
    .btn-css-search {
        background: #eeeeee;
        border: 1px solid #ccc;
        color: black;
    }
    .btn-css-seltienda {
        background: #e30b17;
        color: white;
    }
}
.sf {
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.6rem;
    margin-top: 0.1rem;
    padding-bottom: 0.6rem;
    position-top: 0.1rem;
    .p-discountpl {
        margin: 7px 0;
    }
    > input {
        width: calc(100% - 98px);
    }
    > .btn {
        &.bg-r {
            margin-left: auto;
        }
    }
    > span,
    strong {
        margin-left: auto;
        text-align: right;
        width: 50%;
    }
    > span {
        text-align: left;
    }
    &.st {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        .s-total {
            font-size: 1.25rem;
        }
    }
}
.signInCheckout {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: -1rem;
    width: 100%;
    a {
        padding: 0;
        width: 100%;
    }
    .btn {
        max-width: 100%;
        width: 100%;
    }
    .btn-pink {
        background: #ef5059;
        color: white;
    }
}
.snippets {
    input {
        border: none;
        width: 30px;
    }
}
.tabs {
    width: 100%;
    .item-tab {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        visibility: hidden;
        &.tab-active {
            opacity: 1;
            position: relative;
            visibility: visible;
        }
    }
    .sb-l {
        width: 100%;
    }
    .txt {
        display: none;
    }
}
.w-summary {
    background: #fbfcfd;
    border: 1px solid #eaeaea;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding: 2rem;
    width: 100%;
    figure {
        height: 65px;
        left: 0;
        position: absolute;
        top: 0;
        width: 65px;
        img {
            height: auto;
            left: 50%;
            max-height: none;
            max-width: none;
            min-height: 101%;
            min-width: 101%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%) scale(1);
            width: 100%;
        }
    }
    li {
        align-items: center;
        border-bottom: 1px solid #eaeaea;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        position: relative;
        width: 100%;
    }
    .modal {
        h1 {
            margin-left: -15px;
            margin-right: -15px;
            width: 110%;
        }
        > .w {
            font-size: 0.75rem;
            height: 470px;
            overflow: auto;
            padding: 0 1rem;
            top: 1.75rem;
            > span {
                color: $colorred !important;
                display: block;
                font-size: 0.75rem;
                margin-bottom: 0.25rem;
                text-align: center;
            }
            h2,
            h3 {
                display: block;
                font-size: 0.75rem;
                font-weight: 700;
                margin: 1rem 0;
                text-transform: none;
            }
        }
        .overlay {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
    .s-model,
    .s-price,
    .s-title {
        font-size: 12px;
        padding-left: 75px;
        width: 100%;
    }
    .s-price {
        font-weight: 600;
        margin-bottom: 0.5rem;
        span {
            font-weight: 700;
        }
    }
    .s-subtotal {
        font-weight: 700;
        margin-left: auto;
        padding-right: 5px;
    }
    .s-title {
        font-size: 14px;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .snippets {
        margin-left: 46px;
    }
}
#order-confirmation {
    .font-weight-bold {
        font-weight: 600;
    }
    .wrap {
        margin: auto;
        max-width: 1170px;
        padding: 0px;
        width: 96%;
        > section {
            width: 100%;
            .card-title {
                font-size: 0.8rem;
                font-weight: 700;
                margin-bottom: 1rem;
                text-transform: uppercase;
                &:after {
                    background-color: #e30b17;
                    content: "";
                    display: block;
                    height: 2px;
                    margin-top: 0.25rem;
                    width: 38px;
                }
            }
        }
        .card {
            h4 {
                font-weight: 700;
                width: 100%;
            }
            p {
                width: 100%;
            }
            ul {
                color: #717171;
                margin-left: 30px;
                width: 100%;
                li {
                    list-style: disc;
                    padding: 3px 0;
                    width: 100%;
                    span {
                        font-weight: 600;
                    }
                }
            }
        }
        #content {
            #order-details {
                margin: auto;
                ul {
                    padding-left: 5px;
                    li {
                        padding: 3px 0;
                    }
                }
            }
            #order-items {
                background: #fdfdfd;
                border: 1px solid #eaeaea;
                border-radius: 0.5rem;
                margin: 8px 0;
                padding: 1rem;
                a {
                    color: $colorred;
                }
                .order-line {
                    border-bottom: 1px solid #eaeaea;
                    height: 90px;
                    margin-bottom: 0.5rem;
                    padding-bottom: 0.5rem;
                    .col-sm-2 {
                        height: 80px;
                        position: absolute;
                        width: 80px;
                        img {
                            width: 100%;
                        }
                    }
                    .details {
                        font-weight: bold;
                        margin-left: 100px;
                    }
                    .qty {
                        margin-left: 100px;
                        .row {
                            display: flex;
                            div:nth-child(1) {
                                order: 2;
                                &:after {
                                    content: "=";
                                    margin-left: 3px;
                                }
                            }
                            div:nth-child(2) {
                                order: 1;
                                &:after {
                                    content: "x";
                                    margin-right: 3px;
                                }
                            }
                            div:nth-child(3) {
                                font-weight: 600;
                                margin-left: 3px;
                                order: 3;
                            }
                        }
                    }
                }
            }
        }
        #content-hook_order_confirmation {
            a {
                color: $colorred;
            }
        }
        #content-hook_payment_return {
            border-bottom: 1px solid #eaeaea;
            border-top: 1px solid #eaeaea;
            margin: 8px 0;
            padding: 1rem 0;
            a {
                color: $colorred;
            }
            dl {
                margin-left: 15px;
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1100px) {
    .head-tab {
        a {
            font-size: 10px;
        }
    }
}
@media screen and (min-width: 769px) {
    body.checkout {
        padding-top: 75px;
        .wrap {
            flex: auto;
            padding-top: 20px;
        }
        #header {
            height: 75px;
            .content {
                margin: auto;
                width: 90%;
                .bloc-c {
                    a {
                        img {
                            height: auto;
                            height: 100%;
                        }
                    }
                }
            }
            &.header-sticky {
                height: 56px;
                padding: 0px;
                .bloc-c {
                    padding: 0px;
                }
            }
        }
    }
    .btn-css-seltienda {
        background: #e30b17;
        color: white;
    }
    .checkout-data {
        padding-bottom: 20px;
        width: 100%;
        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        h2 {
            padding: 0 0.5rem;
            width: 100%;
        }
        input {
            width: 100%;
        }
        label {
            display: block;
            font-size: 0.75rem;
            margin-bottom: 0.2rem;
            width: 100%;
        }
        p {
            margin-bottom: 10px;
            padding: 0 0.5rem;
            a {
                color: $colorred;
                font-weight: 600;
            }
        }
        textarea {
            width: 100%;
        }
        .b_complementos {
            width: 100%;
            .c_box {
                width: 100%;
                .list-products.carousel-products {
                    height: auto;
                    margin: auto;
                    max-width: none;
                    width: 100%;
                }
            }
        }
        .b_payments {
            width: 100%;
        }
        .box {
            flex-grow: 1;
            margin: auto 0.5rem;
            margin-bottom: 1rem;
            margin-top: 0px;
            width: calc(50% - 1rem);
        }
        .box_invoice {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }
        .box2 {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            width: 100%;
            &.b_msg {
                textarea {
                    height: 100px;
                }
            }
        }
        .btn {
            width: 140px;
        }
        .c-i {
            padding: 0 0.5rem;
        }
        .list-payment {
            display: flex;
            flex-wrap: wrap;
            li {
                width: 20%;
                a {
                    img {
                        width: 75%;
                    }
                    span {
                        padding: 1rem 1rem;
                    }
                    &:hover {
                        span {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                &.active {
                    &:after {
                        opacity: 1;
                        transform: scale(1);
                        visibility: visible;
                    }
                }
                &.card_large {
                    a {
                        width: 150%;
                    }
                }
                &:after {
                    @include icon();
                    background-color: #fff;
                    color: #33cc99;
                    content: "\e90c";
                    display: block;
                    font-size: 1.5rem;
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    top: -6%;
                    transform: scale(0);
                    transition: all 0.3s ease;
                    visibility: hidden;
                }
            }
        }
        .listProductsGeneral {
            display: flex;
            flex-wrap: wrap;
            li {
                width: 33%;
            }
        }
        .new_card {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .select2 {
            margin-bottom: 0px;
        }
    }
    .head-tab {
        a {
            flex-wrap: nowrap;
            min-height: 62px;
            padding: 1rem;
            text-align: left;
            span {
                &.t-n {
                    flex-shrink: 0;
                    margin-right: 0.25rem;
                    text-align: center;
                }
            }
            &:before {
                margin-right: 10px;
            }
        }
    }
    .item-tab {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .btn {
            &.bg-r {
                margin-right: 0;
                max-width: 200px;
            }
        }
        .btn-s {
            margin: 0.25rem;
            width: calc(33.333% - 0.5rem);
        }
        .c-i {
            &.f-ww {
                margin-right: 0;
                width: calc(50% - 0.5rem);
                &:nth-child(2n) {
                    margin-right: 1rem;
                }
            }
        }
        .sb-l {
            width: 100%;
        }
    }
    .pform {
        width: 100%;
    }
    .selectTienda {
        .bloque {
            max-width: 900px;
            overflow: hidden;
            top: 4%;
            width: 90%;
            > h3 {
                background: #f1f1f1;
                font-weight: 600;
                padding: 30px 0 0 0;
                text-align: center;
                width: 100%;
            }
            .closeModalPK {
                align-items: center;
                border: 1px solid #ccc;
                border-radius: 50%;
                color: #5d5d5d;
                cursor: pointer;
                display: flex;
                font-size: 20px;
                font-weight: 900;
                height: 30px;
                justify-content: center;
                position: absolute;
                right: 15px;
                top: 15px;
                width: 30px;
                &:hover {
                    color: #000;
                }
            }
            .fila_btn {
                margin: 20px auto 0;
                width: 90%;
                .btn {
                    display: block;
                    margin: 10px 0 0 auto;
                    margin-bottom: 0.5rem;
                    max-width: none;
                    width: 200px;
                }
            }
            .filtro {
                display: flex;
                justify-content: space-between;
                margin: auto;
                padding-top: 8px;
                width: 90%;
                .box1 {
                    height: 85px;
                    width: 25%;
                    select,
                    input {
                        width: 100%;
                    }
                    p {
                        height: 19px;
                        margin-bottom: 5px;
                        width: 100%;
                    }
                    .btn {
                        margin: 0;
                        width: 126px;
                    }
                    &.box_search {
                        padding: 0px;
                        width: 20%;
                        p {
                            display: block;
                        }
                        .btn {
                            max-width: none;
                            width: 100%;
                        }
                    }
                }
            }
            .header {
                align-items: center;
                color: #000;
                display: flex;
                height: 80px;
                margin-top: 29px;
                padding: 0 25px;
                width: 100%;
                .box {
                    margin: 0;
                    width: 80%;
                    h2 {
                        align-items: center;
                        display: flex;
                        font-size: 18px;
                        justify-content: center;
                        letter-spacing: 4px;
                        text-align: center;
                        img {
                            margin-right: 11px;
                            width: 32px;
                        }
                    }
                    h3 {
                        color: #868686;
                        font-size: 16px;
                        font-weight: 400;
                        margin-top: 7px;
                        text-align: center;
                    }
                }
            }
            p.title {
                color: #111;
                font-size: 16px;
                font-weight: 700;
                margin: auto;
                text-align: center;
                text-transform: none;
                width: 80%;
            }
            .tabla {
                display: flex;
                flex-wrap: wrap;
                height: calc(100% - 325px);
                margin: auto;
                margin: 20px auto 0;
                max-height: 450px;
                overflow: auto;
                overflow: hidden;
                width: 90%;
                .bloque1 {
                    overflow: auto;
                    padding-right: 4px;
                    width: 50%;
                    .box {
                        background: #f7f7f7;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        display: flex;
                        margin: 0;
                        margin-bottom: 7px;
                        min-height: 60px;
                        width: 100%;
                        cursor: pointer;
                        &:hover,
                        &.active {
                            background: #eaeaea;
                            border: 1px solid $colorred;
                        }
                        .img {
                            padding: 7px;
                            width: 80px;
                            img {
                                width: 100%;
                            }
                        }
                        .text {
                            width: 100%;
                            h4 {
                                font-size: 16px;
                                padding: 5px 5px 0 5px;
                            }
                            p {
                                font-size: 12px;
                                margin: 0;
                                padding: 5px;
                            }
                        }
                    }
                    &.borde {
                        border: 1px solid #eaeaea;
                    }
                    &::-webkit-scrollbar {
                        height: 0px;
                        width: 8px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #cccccc;
                        border: 0px none;
                        border-radius: 50px;
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: $colorred;
                    }

                    &::-webkit-scrollbar-track {
                        background: #efefef;
                        border: none;
                    }
                }
                .bloque2 {
                    display: block;
                    width: 50%;
                    .map {
                        height: 100%;
                        padding-left: 20px;
                        width: 100%;
                        iframe {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .btn {
            padding: 11px 0;
        }
        .btn-css-search {
            border: 1px solid #ccc;
            background: #eeeeee;
        }
    }
    .signInCheckout {
        display: flex;
        margin-bottom: 0.5rem;
        margin-top: -1rem;
        width: unset;
        a {
            margin-left: 0.5rem;
        }
        .btn-pink {
            background: #ef5059;
            color: white;
        }
    }
    .tabs {
        width: 100%;
        .item-tab {
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            visibility: hidden;
            &.tab-active {
                opacity: 1;
                position: relative;
                visibility: visible;
            }
        }
        .txt {
            display: block;
        }
    }
    .w-summary {
        border: 1px solid #eaeaea;
        border-radius: 0.5rem;
        margin-left: 1rem;
        margin-right: 0;
        padding: 1rem;
        position: relative;
        width: calc(40% - 1rem);
        .modal {
            > .w {
                height: 88%;
            }
        }
    }
    #checkout {
        align-items: flex-start;
    }
    #processCheckout {
        width: 60%;
    }
}
@media screen and (min-width: 960px) {
    .bloque_tipo {
        width: 100%;
        .fila {
            .box {
                flex-grow: initial;
                flex-wrap: initial;
                margin: 0;
                padding: 10px;
                width: 48%;
                p {
                    font-size: 12px;
                    font-weight: 700;
                    margin: 0;
                    text-align: left;
                    width: auto;
                }
                .circle {
                    border: 3px solid #9a9a9a;
                    border-radius: 50%;
                    height: 12px;
                    width: 12px;
                }
                .img {
                    align-items: center;
                    display: flex;
                    height: 50px;
                    justify-content: center;
                    width: 50px;
                    img {
                        margin: auto;
                        width: 66%;
                    }
                }
            }
        }
        .subTitle {
            width: 100%;
        }
    }
    .bloqueRecojo {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        width: 100%;
        h4 {
            font-weight: 800;
            width: 100%;
        }
        label {
            width: 100%;
        }
        p {
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }
    .checkout-data {
        .card-save {
            .box2 {
                justify-content: unset;
                .card {
                    width: 100px;
                }
            }
        }
    }
    .logged {
        ._user {
            width: 150px;
            .icon-user {
                align-items: center;
                bottom: 0;
                display: flex;
                font-size: 14px;
                font-weight: 600;
                height: 26px;
                left: 0;
                letter-spacing: -1px;
                margin: auto;
                overflow: hidden;
                position: absolute;
                right: 0;
                text-overflow: ellipsis;
                top: 0px;
                white-space: nowrap;
                width: 100%;
                &:before {
                    font-size: 26px;
                    margin-right: 7px;
                }
            }
        }
    }
    .w-summary {
        margin-left: auto;
        width: 36%;
    }
    #processCheckout {
        width: 60%;
    }
}
@media screen and (min-width: 1900px) {
    .selectTienda {
        .bloque {
            top: 12%;
        }
    }
}