.acordeon {
    .a-wrap {
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        .a-content {
            font-size: 0.75rem;
            padding-bottom: 0.5rem;
            b, p {
                margin-bottom: 0.5rem;
            }
        }
        .a-item {
            align-items: center;
            cursor: pointer;
            display: flex;
            font-size: 0.75rem;
            font-weight: 600;
            font-weight: 700;
            margin-bottom: 0.25rem;
            padding: 0.25rem 0;
            position: relative;
            text-transform: uppercase;
            &.active {
                &:before {
                    content: "\e90d";
                }
            }
            &:before {
                right: 0;
                position: absolute;
            }
        }
        &:last-child {
            border-bottom: none;
        }
    }
}
.box-flag-student {
    background-color: #e30b17;
    border: none;
    border-radius: 50%;
    display: inline-block;
    height: 1.5rem;
    padding: 3.9px;
    width: 1.5rem;
    img {
        width: 17px;
    }
}
.box_summary {
    background: #fff;
    box-shadow: 1px 3px 6px -2px;
    padding-bottom: 20px;
    position: fixed;
    top: -130px;
    transition: all 0.6s;
    width: 100%;
    z-index: 8;
    &.active {
        top: 54px;
    }
    h2 {
        width: 100%;
    }
    .box {
        padding: 10px 30px;
        width: 100%;
    }
    .p-price {
        display: block;
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 0.25rem;
        transition: all 0.3s ease;
        small {
            color: #888;
            font-size: 0.9rem;
            text-decoration: line-through;
        }
        span {
            align-items: center;
            background-color: $colorred;
            border-radius: 5rem;
            color: #fff;
            display: flex;
            height: 50px;
            justify-content: center;
            font-size: 0.65rem;
            font-weight: 600;
            position: absolute;
            right: 1rem;
            top: -1rem;
            transform: perspective(1000px);
            transition: all 0.3s ease;
            width: 50px;
        }
        span {
            background-color: transparent;
            color: $colorred;
            display: inline;
            font-size: 0.94rem;
            height: auto;
            margin-right: 0.35rem;
            position: relative;
            right: initial;
            top: initial;
            width: auto;
        }
    }
    .tax-shipping-delivery-label {
        display: none;
    }
    .w-btn {
        justify-content: space-around;
        margin-left: 0;
        max-width: 400px;
        padding: 0 25px;
        width: 100%;
        .btn {
            &.btn-add-car, &.btn-buy {
                bottom: 0.75rem;
                margin: 0 auto;
                padding: 0.7rem 0.75rem;
                padding-top: 8px;
                top: 0px;
                width: 44%;
                z-index: 6;
                &:before {
                    @include icon();
                    font-weight: 500;
                    font-size: 1.05rem;
                    margin-right: 0.25rem;
                }
            }
            &.btn-add-car {
                background-color: #999999;
                &:before {
                    content: "\e900";
                }
            }
            &.btn-buy {
                &:before {
                    content: "\e91d";
                }
            }
        }
    }
}
.hideParagraph {
    display: none;
}
.link-modal-student {
    color: #5a5a5a;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 5px;
    padding-left: 9px;
}
.link-modal-student span > span:last-child {
    text-decoration: underline;
}
.link-modal-student:hover {
    color: #e30b17;
}
.product {
    margin: auto;
    width: 80%;
    > * {
        flex-grow: 1;
    }
    .box_msg {
        height: 0px;
        overflow: hidden;
        span {
            opacity: 0;
            transition: all 0.3s;
        }
        &.active {
            height: 40px;
            span {
                opacity: 1;
            }
        }
    }
    .owl-carousel {
        padding-bottom: 1.5rem;
        .owl-stage-outer {
            .owl-stage {
                .owl-item {
                    img {
                        height: auto;
                        margin: 0 auto;
                        width: 76%;
                        width: 80%;
                    }
                }
            }
        }
    }
    .owl-dots-custom {
        bottom: 0.88rem;
        display: flex;
        justify-content: center;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        z-index: 1;
        li {
            border: 1px solid #b8b8b8;
            border-radius: 5rem;
            box-shadow: 0 2px 5px 0 #252528, inset 0 1px 0 0 rgba(255, 255, 255, 0.06);
            cursor: pointer;
            height: 10px;
            margin-right: 0.4rem;
            transition: all 300ms ease;
            width: 10px;
            img {
                display: none;
            }
            &.active {
                background: #000;
                border-color: #000;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .p-model, .p-name {
        margin-bottom: 0.25rem;
    }
    .p-model {
        color: #717375;
        display: block;
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    .p-name {
        font-size: 0.9rem;
        line-height: 1.2;
    }
    .p-price {
        display: block;
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 0.25rem;
        transition: all 0.3s ease;
        span {
            color: $colorred;
            display: inline;
            font-size: 0.94rem;
            height: auto;
            margin-right: 0.35rem;
            right: 0;
            top: 0;
            width: auto;
        }
        small {
            color: #888;
            font-size: 0.9rem;
            text-decoration: line-through;
        }
    }
    .w-btn {
        margin: 1rem auto;
        .btn {
            &.btn-add-car, &.btn-buy {
                bottom: 0.75rem;
                margin: 0 auto;
                padding: 0.7rem 0.75rem;
                padding-top: 8px !important;
                top: 0px;
                width: 44%;
                z-index: 6;
                &:before {
                    @include icon();
                    font-size: 1.05rem;
                    font-weight: 500;
                    margin-right: 0.25rem;
                }
            }
            &.btn-add-car {
                background-color: #888;
                &:before {
                    content: "\e900";
                }
            }
            &.btn-buy {
                &:before {
                    content: "\e91d";
                }
            }
        }
    }
    .w-p, .zoom, img.loaded {
        height: auto;
        width: 100%;
    }
    .w-cant {
        span {
            display: block;
            margin-bottom: 0.5rem;
            width: 100%;
        }
    }
    .w-description {
        border-top: 1px solid #eaeaea;
        padding-top: 0.5rem;
        p {
            strong {
                font-size: 14px;
            }
        }
    }
    .w-p {
        margin-bottom: 0.25rem;
        overflow: hidden;
        position: relative;
        #discount {
            align-items: center;
            background-color: $colorred;
            border-radius: 0;
            color: #fff;
            display: flex;
            display: none;
            font-size: 0.65rem;
            font-weight: 600;
            height: 30px;
            justify-content: center;
            position: absolute;
            right: -30px;
            text-align: center;
            top: 20px;
            transition: all 0.3s ease;
            transform: rotate(45deg);
            width: 130px;
            z-index: 1;
        }
    }
}
.student-container-flex {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}
.student-logged {
    color: #262629;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: 5px;
    padding: 9px;
}
.student-logged span:last-child {
    font-weight: 900 !important;
}
.zoom {
    display: inline-block;
    position: relative;
}
.zoom:after {
    content: "";
    display: block;
    height: 33px;
    position: absolute;
    right: 0;
    top: 0;
    width: 33px;
}
.zoom img {
    display: block;
}
.zoom img::selection {
    background-color: transparent;
}
#product-availability {
    color: $colorred;
    display: block;
    margin-bottom: 5px;
    margin-top: 2px;
    i:before {
        content: "\e920";
        font-family: "icomoon";
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        speak: none;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }
}
@media screen and (min-width: 769px) {
    .acordeon {
        .a-wrap {
            margin-bottom: 0.5rem;
            padding-bottom: 0.25rem;
            .a-content {
                font-size: 0.8rem;
            }
            .a-item {
                font-size: 0.8rem;
            }
        }
    }
    .box-flag-student {
        background-color: #e30b17;
        border: none;
        border-radius: 50%;
        display: inline-block;
        height: 2rem;
        padding: 5px;
        width: 2rem;
        img {
            width: 22px;
        }
    }
    .box_summary {
        display: none;
    }
    .hideParagraph {
        display: none;
    }
    .product {
        margin-top: 1rem;
        width: auto;
        .box_msg {
            &.active {
                height: 50px;
            }
        }
        .owl-carousel {
            height: auto;
            padding-bottom: 0;
            padding-left: 4rem;
            .owl-stage-outer {
                height: auto;
                .owl-stage {
                    .owl-item {
                        img {
                            display: block;
                            margin: 0 auto;
                            width: 98%;
                        }
                    }
                }
            }
        }
        .owl-dots-custom {
            bottom: inherit;
            display: flex;
            flex-direction: column;
            left: 0;
            position: absolute;
            right: inherit;
            top: 0;
            .owl-dot-custom {
                border: 3px solid transparent;
                border-radius: 2px;
                box-shadow: none;
                cursor: pointer;
                height: auto;
                margin-right: 0;
                width: auto;
                img {
                    display: block;
                    margin: 0 auto;
                    width: 3.25rem;
                }
                &.active {
                    background: none;
                    border-color: #eaeaea;
                }
            }
        }
        .p-description, .w-p {
            width: 50%;
        }
        .p-model, .p-name {
            margin-bottom: 0.5rem;
        }
        .p-name {
            font-size: 1.5rem;
        }
        .p-price, strong {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            span {
                font-size: 1.1rem;
            }
            small {
                font-size: 1rem;
            }
        }
        .w-btn {
            .btn {
                &.btn-add-car, &.btn-buy {
                    border-radius: 4rem;
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    padding: 0.75rem 3.5rem;
                    position: relative;
                    right: 0;
                    width: auto;
                    z-index: 1;
                }
                &.btn-add-car {
                    margin-right: 0.75rem;
                }
            }
        }
        .zoom {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
    .list-products.owl-carousel {
        li {
            a {
                h2 {
                    font-size: 1rem;
                    max-height: 42px;
                }
                strong {
                    font-size: 1.2rem;
                }
            }
        }
    }
    .student-logged {
        font-size: 1.1em;
    }
    #product .wrap {
        margin: auto;
        width: 96%;
    }
}
@media screen and (min-width: 960px) {
    .hideParagraph {
        display: inline-block;
    }
    .product {
        .p-description {
            padding-left: 3rem;
        }
    }
}
@media (min-width: 769px) and (max-width: 1100px) {
    #header .gwr .content {
        .box_right.logged {
            width: 40%;
            &.shoppingcart {
                width: 43%;
            }
        }
    }
}
